.theme-main {
  padding-top: 55px;
  -webkit-box-flex: 1;
      -ms-flex: auto 1;
          flex: auto 1;
}

.theme-main .content-layout {
  position: relative;
  width: 100%;
}

.theme-main .content-layout .layout-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 50px 0;
}

.theme-main .content-layout .layout-bg.dimmed::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.theme-main .content-layout .layout-bg.layout-01 {
  background: url(../img/layout-01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: table;
  background-size: cover;
  max-height: 600px;
}

.theme-main .content-layout .layout-bg.layout-02 {
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: table;
  background-size: cover;
}

.theme-main .content-layout .layout-bg.layout-03 {
  height: auto;
  padding: 50px 0;
  background: url(../img/layout-03.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.theme-main .content-layout .layout-bg.layout-04 {
  height: auto;
  background: url(../img/layout-04.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.theme-main .content-layout .layout-bg.layout-05 {
  height: auto;
  background: url(../img/layout-05.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.theme-main .content-layout .layout-bg.layout-06 {
  height: auto;
  background-color: #000;
}

.theme-main .content-layout .layout-bg.layout-06 .layout-content-title {
  margin-bottom: 30px;
}

.theme-main .content-layout .layout-content-text {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  word-break: break-all;
  text-align: center;
}

.theme-main .layout-content-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 50px;
}

.theme-main .layout-content-title.intro {
  font-size: 60px;
  color: #fff;
  margin-bottom: 0;
}

.theme-main .tell-more-btn {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
  padding: 9px 12px;
  color: #fff;
  background-color: #fed136;
  font-size: 25px;
  border-radius: 4px;
  margin-top: 20px;
  border-radius: 100px;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
}

.theme-main .tell-more-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  -webkit-animation: ripple 1.5s ease-out infinite;
          animation: ripple 1.5s ease-out infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  left: 0;
  top: 0;
}

.theme-main .content-list-wrap {
  position: relative;
}

.theme-main .content-list-wrap .content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.theme-main .content-list-wrap .content-list .content-list-item {
  width: 50%;
  padding: 0 10px;
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box {
  width: 100%;
  max-width: 160px;
  margin: 0 auto 20px;
  height: 160px;
  border-radius: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fed136;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon {
  display: block;
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon.responsive {
  background-image: url(../img/responsive.png);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon.git-skill {
  background-image: url(../img/git.svg);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon.Front-end {
  background-image: url(../img/front-end.png);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon.Library {
  background-image: url(../img/library.svg);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-explan-title {
  font-size: 20px;
  font-weight: 600;
  color: #141414;
  margin-bottom: 5px;
  display: block;
}

.theme-main .content-list-wrap .content-list .content-list-item .content-explan-item {
  font-size: 15px;
  color: #767676;
}

.theme-main .portfolio-list-slide {
  position: relative;
}

.theme-main .portfolio-list-slide .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.theme-main .portfolio-list-slide .swiper-wrapper .swiper-slide {
  height: auto;
}

.theme-main .slide-paging {
  position: relative;
  bottom: -45px;
}

.theme-main .slide-paging .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.7;
  width: 10px;
  height: 10px;
}

.theme-main .slide-paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.theme-main .slide-arrows {
  display: none;
}

.theme-main .slide-arrows .swiper-button-next, .theme-main .slide-arrows .swiper-button-prev {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);
}

.theme-main .slide-arrows .swiper-button-next::after, .theme-main .slide-arrows .swiper-button-prev::after {
  font-size: 14px;
  color: #484848;
  font-weight: 600;
}

.theme-main .slide-arrows .swiper-button-next.swiper-button-disabled, .theme-main .slide-arrows .swiper-button-prev.swiper-button-disabled {
  display: none;
}

.theme-main .slide-arrows .swiper-button-next {
  right: -10px;
}

.theme-main .slide-arrows .swiper-button-prev {
  left: -10px;
}

.theme-main .portfolio-list-wrap {
  width: 100%;
}

.theme-main .portfolio-list-wrap .portfolio-list-item {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 4px 15px 20px 0 rgba(31, 184, 184, 0.15);
          box-shadow: 4px 15px 20px 0 rgba(31, 184, 184, 0.15);
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-list-link {
  display: block;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-img-box {
  width: 100%;
  overflow: hidden;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-img-box .item-img {
  width: 100%;
  padding-top: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #ececec;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-img-box .item-img:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-subject {
  padding: 10px;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-subject .item-subject-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
  color: #141414;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-subject .subject-sub-title {
  font-size: 15px;
  font-weight: 400;
  color: #767676;
}

.theme-main .container-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  top: -40px;
}

.theme-main .chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

.theme-main .chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

.theme-main .chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

.theme-main .chevron:before,
.theme-main .chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.theme-main .chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

.theme-main .chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

.theme-main .tiem-line-wrap {
  width: 100%;
  position: relative;
}

[data-anime] {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

[data-anime].animate {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-anime-left] {
  opacity: 0;
  -webkit-transform: translate3d(-40px, 0, 0);
          transform: translate3d(-40px, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

[data-anime-left].animate {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-anime-right] {
  opacity: 0;
  -webkit-transform: translate3d(40px, 0, 0);
          transform: translate3d(40px, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

[data-anime-right].animate {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#timeline {
  position: relative;
  padding: 2em 0;
}

#timeline::before {
  /* this is the vertical line */
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #ddd;
}

.timeline-block {
  position: relative;
  margin: 2em 0;
  display: inline-block;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-block .timeline-year.right strong, .timeline-block .timeline-year.left strong {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-top: -7px;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.timeline-block .timeline-year.timeline-year-long.left strong {
  white-space: pre;
  margin-left: -230px;
}

.timeline-block .timeline-year.right strong {
  margin-left: 50px;
}

.timeline-block .timeline-year.left strong {
  margin-left: -115px;
}

.timeline-year {
  background: #fecd2c;
  position: absolute;
  top: 22px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: 4px;
  /*  padding: 28px 20px; */
  font-size: 18px;
  font-weight: 500;
  color: #484848;
  display: inline-block;
}

.timeline-content.white {
  background-color: #fff;
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-right: 10px solid #ebebeb;
}

.timeline-content .percent {
  font-size: 2.5rem;
  font-weight: 300;
}

.timeline-content h5 {
  font-size: 1rem;
}

/*  */
.timeline-title {
  font-size: 18px;
  color: #181818;
  margin-bottom: 10px;
  background: #ebebeb;
  padding: 20px;
  border-radius: 10px;
}

.timeline-item {
  padding: 10px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

.timeline-item .item-desc {
  padding-left: 12px;
  font-size: 14px;
  margin-top: 4px;
  color: #484848;
}

.timeline-item.timeline-item-table {
  padding: 10px 0;
}

.timeline-item.timeline-item-table .item-table {
  width: 100%;
}

.timeline-item.timeline-item-table .item-table table {
  width: 100% !important;
}

.timeline-box {
  margin: 8px 0;
  padding: 15px;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #b6b6b6;
}

.timeline-box .box-title {
  text-align: center;
}

.timeline-box .box-text {
  margin-top: 12px;
  text-align: left;
}

@media only screen and (max-width: 1169px) {
  .timeline-block .timeline-year {
    margin-left: 8px;
    top: 15px;
  }
  .timeline-block .timeline-year.timeline-year-long.left strong {
    margin-left: 45px;
  }
  .timeline-block .timeline-year.right strong {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
  }
  .timeline-block .timeline-year.left strong {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
    margin-left: -5px;
    margin-top: -55px;
  }
  .timeline-block .timeline-year.right strong {
    margin-top: -55px;
  }
  .timeline-content {
    font-size: 15px;
  }
  .timeline-title {
    font-size: 16px;
    padding: 15px;
  }
  .timeline-item {
    padding: 10px 0;
  }
  .timeline-item.timeline-item-table .item-table table th, .timeline-item.timeline-item-table .item-table table td {
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
  }
}

@media only screen and (min-width: 1170px) {
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 100px 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-year {
    width: 24px;
    height: 24px;
    left: 50%;
    margin-left: -12px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    width: 45%;
  }
  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ebebeb;
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ebebeb;
  }
}

.final-circle {
  background-color: #fecd2c;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-left: -15px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0 0 0 5px #e6bb2e;
          box-shadow: 0 0 0 5px #e6bb2e;
  position: relative;
  cursor: pointer;
  top: 40px !important;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  -webkit-animation: finalRipple 1.5s linear infinite;
          animation: finalRipple 1.5s linear infinite;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.final-circle .final-circle-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

.final-circle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.final-circle:focus {
  outline: none;
}

@-webkit-keyframes finalRipple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 3px rgba(255, 255, 255, 0.3), 0 0 0 5px rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 3px rgba(255, 255, 255, 0.3), 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 4px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 4px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}

@keyframes finalRipple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 3px rgba(255, 255, 255, 0.3), 0 0 0 5px rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 3px rgba(255, 255, 255, 0.3), 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 4px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 4px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}

.contact-wrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 20px;
  padding: 25px 15px;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(63, 63, 63, 0.15);
          box-shadow: 4px 4px 20px 0 rgba(63, 63, 63, 0.15);
}

.contact-wrap .contact-outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-wrap .contact-outline .contact-content {
  -webkit-box-flex: 1;
      -ms-flex: auto 1;
          flex: auto 1;
  text-align: left;
  position: relative;
  padding-left: 25px;
}

.contact-wrap .contact-outline .contact-content .form-group:last-child {
  margin-bottom: 0;
}

.contact-wrap .contact-outline .contact-content:first-child {
  padding-bottom: 20px;
}

.contact-wrap .contact-outline .contact-content::before {
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  top: 0;
  bottom: 0;
  background-color: #d7d7d7;
  border-radius: 10px;
  left: 0;
}

.contact-wrap .contact-outline .contact-content .contact-content-title {
  margin: 0;
  height: 100%;
  font-size: 35px;
  line-height: 1.18;
  letter-spacing: -0.4px;
}

.contact-wrap .contact-label {
  display: block;
  width: 100%;
  font-size: 14px;
}

.contact-wrap input[type="text"] {
  height: 45px;
}

.contact-wrap input[type="text"]::-webkit-input-placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap input[type="text"]::-moz-placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap input[type="text"]:-ms-input-placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap input[type="text"]::-ms-input-placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap input[type="text"]::placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap .contact-mail-content {
  width: 100%;
  border-color: #ced4da;
  resize: none;
  border-radius: 4px;
  padding: 8px;
  min-height: 150px;
}

.contact-wrap .contact-mail-content:focus, .contact-wrap .contact-mail-content:active {
  outline: none;
}

.contact-wrap .contact-mail-content::-webkit-input-placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap .contact-mail-content::-moz-placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap .contact-mail-content:-ms-input-placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap .contact-mail-content::-ms-input-placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap .contact-mail-content::placeholder {
  color: #d7d7d7;
  font-size: 14px;
}

.contact-wrap .submit-btn {
  width: 100%;
  display: block;
  border-radius: 4px;
  background-color: #fecd2c;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}

.go-gitsite {
  color: #141414;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.go-gitsite:focus, .go-gitsite:active, .go-gitsite:hover {
  color: #141414;
}

@media (min-width: 992px) {
  .theme-main {
    padding-top: 65px;
  }
  .theme-main .content-layout .layout-bg {
    padding: 80px 0;
  }
  .theme-main .content-layout .layout-bg.layout-01 {
    max-height: none;
  }
  .theme-main .slide-arrows {
    display: block;
  }
  .theme-main .content-layout .layout-bg.layout-03 {
    padding: 80px 0;
  }
  .theme-main .timeline-block {
    display: block;
  }
  .theme-main .content-list-wrap .content-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .theme-main .content-list-wrap .content-list .content-list-item {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .theme-main .content-list-wrap .content-list .content-list-item .content-explan-title {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .theme-main .content-list-wrap .content-list .content-list-item .content-explan-item {
    font-size: 16px;
  }
  .theme-main .layout-content-title {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 60px;
  }
  .final-circle {
    width: 90px;
    height: 90px;
    margin-left: -45px !important;
  }
  .final-circle .final-circle-text {
    font-size: 17px;
  }
  .contact-wrap .contact-outline .contact-content:first-child {
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
