@charset "UTF-8"; 



main {display: block;}

body {
    margin: 0; 
}  

html, body {
    position: relative;
    // height: 100%;
    -webkit-text-size-adjust: 100% !important;
    width: 100%;
    font-family: 'Noto sans KR' !important ;
    // overflow-x: auto;
    min-width: 1024px;


    &::-webkit-scrollbar {
        width: 100%;
        background-color: transparent;
        height: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #3578dc;
        // border: 3px solid #fff;
        border-radius: 10px ;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.9);
    }

    
}
    
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;

    &:hover {
        text-decoration: none;
    }
}

input[type="text"] {
    appearance: none;
    // border: 1px solid #ececec;
    background-color: #fff;
    border-color: #d7d7d7;
    border: none;
    
    &:focus {
        
        outline: 0;
    }
    
    &::placeholder {
        font-family: 'Noto sans KR';
    }
}

textarea {
    &:focus {
        outline: 0;
    }
}

input::placeholder,
textarea::placeholder {color: #BDBDBD;}

label {
    cursor: pointer;
}

figure {
    margin: 0;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
}

label {
    margin: 0;
}

.content {
    height: 100%;
    position: relative;
    background-color: #767667;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

select {
    background-image: none;
    appearance: none;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    height: 46px;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    background: url(../img/icon-select-down.svg) no-repeat right 17px center;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &:disabled {
        background: url(../img/icon-select-down-disabled.svg) no-repeat right 17px center;
    }

    &:focus, &:active {
        outline: 0;
    }
}

.container {
    // width: 1140px;
    max-width: none !important;
    
    
}

.xu-label-checkradio input[type="checkbox"], .xu-label-checkradio input[type="radio"] {
    overflow: hidden;
    position: absolute;
    width: 0;
    border: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    left: -9999px;
}

.xu-label-checkradio{
    position: relative;
    display: inline-block;
    text-align: left;
    
    cursor: pointer;
    margin-bottom: 0;

 


    .input-desc{
        color: #767667;
        font-size: 14px;
    }

    input[type="checkbox"]{
        &:checked{
            & + .xu-label-checkradio__helper{
                background-color: #f5332b;
                border-color: #f5332b;
                &:after {
                    height: 10px;
                    border-right: 1.5px solid #fff;
                    border-bottom: 1.5px solid #fff;
                }
            }

            &:focus{
                & + .xu-label-checkradio__helper{
                    background-color: #f5332b;
                    border-color: #f5332b;
    
                }
            }
        } 
        & + .xu-label-checkradio__helper{
            width: 24px;
            height: 24px;
            border: 1px solid #d4d5dc;
            border-radius: 3px;
            background-color: #fff;


        }
        &:focus{
            & + .xu-label-checkradio__helper{
                border: 1px solid #e0e0e0;
                background-color: #fff;

            }
        }
    }

    input[type="radio"]{
        & + .xu-label-checkradio__helper{
            width: 24px;
            height: 24px;
            border: 1px solid #d4d5dc;
            border-radius: 50%;
            background-color: #fff;

        }

        &:focus{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
                background-color: #fff;

            }
        }

        &:checked{
            & + .xu-label-checkradio__helper {
                border-color: #f5332b;
                background-color: #f5332b;

                &:after {
                    content: '';
                    background-color: #fff;
                }
            }

            &:focus{
                & + .xu-label-checkradio__helper {
                    border-color: #f5332b;
                    background-color: #f5332b;
    
                    &:after {
                        content: '';
                        background-color: #fff;
                    }
                }
            }
        } 
    }

    &.xu-label-checkradio-small {

    }

    

    // 체크박스/라디오 호버
    &:hover{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper{
                border-color: #ff635d;
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #ff635d;
                    background-color: #f5332b;
                }
            } 
            
        }

        input[type="radio"]{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
            }
            &:checked{
                & + .xu-label-checkradio__helper {
                    border-color: #f5332b;
                    background-color: #f5332b;
    
                    &:after {
                        content: '';
                        background-color: #fff;
                    }
                }
            } 
        }
    }
    &.xu-label-checkradio--hover{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper {
                border-color: #ff635d;
            } 
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #ff635d;
                    background-color: #f5332b;
                }
            } 
        }
        input[type="radio"]{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
                background-color: #fff;
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #f5332b;
                    background-color: #fff;
                    &:after {
                        background-color: #f5332b;
                    }     
                }
            } 
        }
    } 

    // 체크박스/라디오 포커스
    &:focus{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper{
                border-color: #ff635d;
            }

            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #ff635d;
                    background-color: #f5332b;
                }
            } 
        }

        input[type="radio"]{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
                background-color: #fff;
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #f5332b;
                    background-color: #fff;
                    &:after {
                        background-color: #f5332b;
                    }     
                }
            } 
        }
    }
    &.xu-label-checkradio--focus{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper {
                border-color: #ff635d;
            } 

            &:checked {
                & + .xu-label-checkradio__helper {
                    border-color: #ff635d;
                    background-color: #f5332b;
                }
            }
        }
        input[type="radio"]{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
                background-color: #fff;
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #f5332b;
                    background-color: #fff;
                    &:after {
                        background-color: #f5332b;
                    }     
                }
            } 
        }
    } 

    // 체크박스/라디오 액티브
    &:active{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper {
                border-color: #ff635d;
                background-color: rgba(255, 99, 93, 0.1);
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #ff635d;
                    background-color: #f5332b;
                    &:after {
                        content: '';
                        border-right-color: #fff;
                        border-bottom-color: #fff;
                    } 
                }
            } 
        }
        input[type="radio"]{
            & + .xu-label-checkradio__helper {
                border-color: #f5332b;
            }
            &:checked{
                & + .xu-label-checkradio__helper {
                    border-color: #f5332b;
                    background-color: #f5332b;
    
                    &:after {
                        content: '';
                        background-color: #fff;
                    }
                }
            } 
        }
    } 
    

    // 체크박스/라디오 disabled
    &.xu-label-checkradio--disabled{
        &:hover{
            input[type="checkbox"]{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;
                }
            }
        }
        &:hover{
            input[type="radio"]{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;
                }
            }
        }
    } 
    input[type="checkbox"]{
        &:disabled{
            & + .xu-label-checkradio__helper {
                border-color: #c1c7d0;
                background-color: #f4f5f7;
            }

            &:hover{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;
                }
            }
        }
        &:checked{
            &:disabled{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #c1c7d0;
                }
            }
        }
    }
    input[type="radio"]{
        &:disabled{
            & + .xu-label-checkradio__helper {
                border-color: #c1c7d0;
                background-color: #f4f5f7;

                &:after {
                    content: '';
                    background-color: #c1c7d0;
                }
            }

            &:hover{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;
                }
            }
        }
        &:checked{
            &:disabled{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;

                    &:after {
                        content: '';
                        background-color: #c1c7d0;
                    }
                }
            }
            
        }

    }
} 

.blind {
    display: none;
}

.flex--row {
    display: flex;
    align-items: center;

}

.flex-item--row {
    display: flex;
    align-items: center;
}

.flex-item--column {
    display: flex;
    flex-direction: column;
    
}

.flex-item {
    // height: 100%;
    // width: 100%;
}

.border-navy {
    width: 100%;
    height: 1px;
    background-color: #8da4bc;
    

}

.m-t-b-19 {
    margin-top: 19px;
    margin-bottom: 19px;
}

.title-16-b {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.67px;
    color: #42526e;
    font-weight: 600;
}



/* 로딩 */
.fix-loading-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 2147483647;

    .icon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        .xi-spin--custom {
            font-size: 50px;
            color: #fff;
        }
    }
}

.container-content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    // height: 100%;
    // position: relative;
}


/* .divTable {
    display: table;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .table-body {
        display: table-row-group;
    }

    .table-head {
        display: table-header-group;
    }

    .table-footer {
        display: table-footer-group;
    }
} */


.modal-default {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0,0,0,0.3);
    // display: block;
   
}

.modal-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    top: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    margin: auto;
    
}

.modal-content {
    padding: 35px 25px 40px;
    box-shadow: 0 0 3px 0 rgba(23,43,77,0.5);
    background-color: #f8fafb;
    border-radius: 2px;
    margin: auto;

    .modal-header {
        padding: 0;
        border: 0;
    }

    .modal-body {
        padding: 0;
    }

    .modal-footer {
        padding: 0;
        border: 0;
    }

    .modal-title {
        font-size: 19px;
        font-weight: 600;
        color: #141414;
        line-height: 1.16;
        letter-spacing: -0.8px;
        text-align: left;
        display: block;
        margin: 0;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #8da4bc;

    }
}

.modal-content-list {
    border-top: 1px solid #3578dc;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    
    .modal-content-list-item {
        background-color: #fff;
        padding: 15px;
        border-bottom: 1px solid #e0e0e0;

        /* &:last-child {
            border-bottom: 0;
        } */

        .modal-content-category {
            font-size: 15px;
            font-weight: 500;
            color: #767676;
            line-height: normal;
            letter-spacing: -0.63px;
            display: inline-block;
            min-width: 110px;
            word-break: break-all;
        }

        .modal-content-input {
            font-size: 15px;
            font-weight: 500;
            color: #767676;
        }
    }
}

.modal-btn-box {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}


.terms-check {
    margin-top: 15px;
}

.modal-footer-btn {
    width: 100%;
    max-width: 150px;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: -0.62px;
    margin-right: 46px;
    border-radius: 4px;

    &:last-child {
        margin-right: 0;
    }

    &.cancel {
        border: 1px solid #3578dc;
        color: #3578dc;
    }

    &.save {
        background-color: #3578dc;
        color: #fff;
    }
}

.check-etc-info-btn {
    
    width: 24px;
    height: 24px;
    background-color: #e0e0e0;
    border-radius: 100px;
    background-image: url(../../markup/board/assets/img/icon-check-white.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
   + .check-etc-info-btn {
        background-color: #5384ed; 
    }
}