.theme-header {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50vw);
    background-color: #484848;
    position: fixed;
    top: 0;
    height: 55px;
    z-index: 90;

    .pc-mode {
        display: none;
    }

    .mobile-side-menu-wrap {
        display: block;
        order: 1;
    }


    .head-logo-box {
        order: 2;
    }

    .inner-header {
        width: 100%;
        max-width: 1170px;
        padding:  14px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

    
    }

   

    .menu-btn {
        .menu-text {
            color: #fff;
            font-weight: 300;
            font-size: 17px;

        }

        i {
            font-size: 17px;
            color: #fff;
        }


    }

  
}

//모바일일때 사이드 메뉴
.mobile-side-menu {
    &.open {
        .mobile-mode {
            left: 0;
        }        

        .mobile-side-dimmed {
            opacity: 1;
            transition: all .2s ease-in-out;
            visibility: visible;
        }
    }

    .mobile-mode {
        .menu-list {
            margin: 0;

            .menu-list-link {
                color: #141414;
                font-size: 17px;
                font-weight: 500;

                border-bottom: 1px solid #141414;

                &::before {
                    display: none !important;
                }
            }
        }
    }
}


.mobile-mode {
    left: -100%;
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    z-index: 35;
    transition: all .3s ease-in-out;
    position: fixed;
    // height: 100%;
    top: 0;
    bottom: 0;


    .menu-list {
        display: block;

        .menu-list-item {
            padding: 0;
        }
    }

}

.mobile-side-dimmed {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 30;
    visibility: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.menu-list {
    display: flex;
    align-items: center;
    margin: 0 -12px;

    .menu-list-item {
        padding: 0 5px;

        .menu-list-link {
            display: block;
            font-size: 17px;
            font-weight: 400;
            color: #fff;
            padding: 20px 12px;
            position: relative;
            
            &::before {
                content: '';
                display: block;
                width: 45px;
                height: 45px;
                background-color: #fed136;
                border-radius: 100px;
                position: absolute;
                left: 0px;
                top: 10px;
                transition: all .2s ease-in-out;
                z-index: -1;
                opacity: 0.6;
            }

            &:hover {
                

                &::before {
                    transition: all .2s ease-in-out;
                    width: 100%;
                    opacity: 0.85;
                    
                }
            }
        }
    }
}


@media (min-width:992px) {
    .theme-header {
        height: auto;

        .head-logo-box {
            order: 1;
        }

        .inner-header {
            padding: 0 15px;      
        }

        .pc-mode {
            display: block; 
            order: 2; 
        }

        .mobile-side-menu-wrap {
            display: none;
        }
    }
}