.theme-main {
    padding-top: 55px;
    flex: auto 1;

    .content-layout {
        position: relative;
        width: 100%;

        

        .layout-bg {
            width: 100vw;
            height: 100vh;
            position: relative;
            padding: 50px 0;

            &.dimmed {
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0,0,0,0.3);
                    
                }
            }

           

            &.layout-01 {
                background: url(../img/layout-01.jpg);
                background-repeat: no-repeat; 
                background-attachment: fixed;
                display: table;
                background-size: cover;
                max-height: 600px;

                
            }

            &.layout-02 {
                background-color: #fff;
                background-repeat: no-repeat; 
                background-attachment: fixed;
                display: table;
                background-size: cover;
            }

            &.layout-03 {
                height: auto;
                padding: 50px 0;
                background: url(../img/layout-03.jpg);
                background-repeat: no-repeat; 
                background-attachment: fixed;
                // display: table;
                background-size: cover;
            }

            &.layout-04 {
                height: auto;
                
                background: url(../img/layout-04.png);
                background-repeat: no-repeat; 
                background-attachment: fixed;
                // display: table;
                background-size: cover;
            }

            &.layout-05 {
              height: auto;
              
              background: url(../img/layout-05.png);
              background-repeat: no-repeat; 
              background-attachment: fixed;
              // display: table;
              background-size: cover;
            }

            &.layout-06 {
              height: auto;
              background-color: #000;

              .layout-content-title {
                margin-bottom: 30px;
              }
            }
            
        }

        .layout-content-text {
            width: 100%;
            max-width: 1170px;
            padding: 0 15px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            
            position: relative;
            word-break: break-all;
            text-align: center;
        }
    }

    .layout-content-title { 
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 50px;
        

        &.intro {
            font-size: 60px;
            color: #fff;
            margin-bottom: 0;
        }
    }

    .tell-more-btn {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
        padding: 9px 12px;
        color: #fff;
        background-color: #fed136;
        font-size: 25px;
        border-radius: 4px;
        margin-top: 20px;
        border-radius: 100px;
        position: relative;
        display: inline-block;
        width: 90px;
        height: 90px;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: inherit;
            border-radius: 50%;
            // z-index: -1;
            animation: ripple 1.5s ease-out infinite; 
            animation-delay: 0.2s;
            left: 0;
            top: 0;
        }
       

    }

    .content-list-wrap {
        position: relative;

        .content-list {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -10px;


            .content-list-item {
                width: 50%;
                padding: 0 10px;
                

                .content-icon-box {
                    width: 100%;
                    max-width: 160px;
                    margin: 0 auto 20px;
                    height: 160px;
                    border-radius: 100px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fed136;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);


                    .content-icon {
                        display: block;
                        width: 80px;
                        height: 80px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        

                        &.responsive {
                            background-image: url(../img/responsive.png);
                        }

                        &.git-skill {
                            background-image: url(../img/git.svg);
                        }

                        &.Front-end {
                            background-image: url(../img/front-end.png);
                        }

                        &.Library {
                            background-image: url(../img/library.svg);
                        }

                        
                    }


                }

                .content-explan-title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #141414;
                    margin-bottom: 5px;
                    display: block;

                }

                .content-explan-item {
                    font-size: 15px;
                    color: #767676;

                }
            }
        }
    }

    .portfolio-list-slide {
        position: relative;
        

        .swiper-wrapper {
            align-items: stretch;

            .swiper-slide {
                height: auto;
            }
        }

       
    }

    .slide-paging {
        position: relative;
        bottom: -45px;

        .swiper-pagination-bullet {
            background-color: #fff;
            opacity: 0.7;
            width: 10px;
            height: 10px;

            &.swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }

    .slide-arrows {
        display: none;

        .swiper-button-next, .swiper-button-prev {
            width: 50px;
            height: 50px;
            background-color: #fff;

            border-radius: 100px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);

            &::after {
                font-size: 14px;
                color: #484848;
                font-weight: 600;

            }

            &.swiper-button-disabled {
                display: none;
            }
        }

        .swiper-button-next {
            right: -10px;
        }

        .swiper-button-prev {
            left: -10px;
        }

    }

    .portfolio-list-wrap {
        width: 100%;



        .portfolio-list-item {
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 4px 15px 20px 0 rgba(31, 184, 184, 0.15);

            .portfolio-list-link {
                display: block;
            }

            .portfolio-item-img-box {
                width: 100%;
                // height: 100%;
                overflow: hidden;
                
                .item-img {
                    width: 100%;
                    padding-top: 100%;
                    transition: all .2s ease-in-out;
                    background-color: #ececec;
    
    
                    &:hover {
                        transition: all .2s ease-in-out;
                        transform: scale(1.05);
                    }
                }
        
                
            }

            .portfolio-item-subject {
                padding: 10px;
    
                .item-subject-title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 4px;
                    display: block;
                    color: #141414;
                }
    
                .subject-sub-title {
                    font-size: 15px;
                    font-weight: 400;
                    color: #767676;
                }
            }
        }


    } 


    $base: 0.6rem;

    .container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;               
    position: relative;
    top: -40px;    
    }

    .chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
    }

    .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #fff;
    }

    .chevron:before {
    left: 0;
    transform: skewY(30deg);
    }

    .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
    }

    @keyframes move-chevron {
    25% {
    opacity: 1;
        }
    33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
    }
    66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
    }
    100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
    }
    }

    
    @keyframes ripple {
        from {
        opacity: 1;
        transform: scale(0);
        }
        to {
        opacity: 0;
        transform: scale(1.8);
        }
    }
 

    //time line 
    .tiem-line-wrap {
        width: 100%;
        position: relative;
    }
  
}

[data-anime] {
    opacity: 0;
    transition: .3s;
  
    &.animate {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  [data-anime-left] {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
    transition: .3s;
  
    &.animate {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  [data-anime-right] {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
    transition: .3s;
  
    &.animate {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }


#timeline {
position: relative;
padding: 2em 0;
// margin-top: 2em;
// margin-bottom: 2em;

&::before {
  /* this is the vertical line */
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #ddd;
}
}



.timeline-block {
position: relative;
margin: 2em 0;
display: inline-block;


&:after {
  content: "";
  display: table;
  clear: both;
}

&:first-child {
  margin-top: 0;
}

&:last-child {
  margin-bottom: 0;
}

.timeline-year {
  &.right strong, &.left strong {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-top: -7px;
    color: #fff;
    width: max-content;
  }

  &.timeline-year-long {
    &.left strong {
      white-space: pre;
      margin-left: -230px;
    }
  }

  &.right strong {
    margin-left: 50px;
  }

  &.left strong {
    margin-left: -115px;
  }
}
}

.timeline-year {
    background: #fecd2c;
    position: absolute;
    top: 22px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


.timeline-content {
    position: relative;
    margin-left: 60px;

    border-radius: 4px;
    /*  padding: 28px 20px; */
    font-size: 18px;
    font-weight: 500;
    color: #484848;

    &.white {
    background-color: #fff;
    }


    &:after {
    content: "";
    display: table;
    clear: both;
    }

    display: inline-block;

    &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #ebebeb;
    }

    .percent {
    font-size: 2.5rem;
    font-weight: 300;
    }

    h5 {
    font-size: 1rem;
    }
}



/*  */

.timeline-title {
font-size: 18px;
color: #181818;
margin-bottom: 10px;
background: #ebebeb;
padding: 20px;
border-radius: 10px;
}

.timeline-item {
    padding: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #fff;

    .item-desc {
    padding-left: 12px;
    font-size: 14px;
    margin-top: 4px;
    color: #484848;
    }
    &.timeline-item-table {
    padding: 10px 0;
        .item-table {
        width: 100%;
            table {
            width: 100% !important;
            }
        }
    }

}
.timeline-box {
    margin: 8px 0;
    padding: 15px;
    font-size: 15px;
    line-height: 18px;
    border: 1px solid #b6b6b6;

    .box-title {
    text-align: center;
    }

    .box-text {
    margin-top: 12px;
    text-align: left;

    }
}



@media only screen and (max-width: 1169px) {
.timeline-block .timeline-year {
  margin-left: 8px;
  top: 15px;

  &.timeline-year-long {
    &.left strong {
      margin-left: 45px;
    }
  }

  &.right strong {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
  }

  &.left strong { 
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
    margin-left: -5px;
    margin-top: -55px;
    // background: #fff;
  }

  &.right strong {
    // margin-left: -5px;
    margin-top: -55px;
    // background: #fff;
  }
}

.timeline-content { 
  font-size: 15px;
}

.timeline-title {
  font-size: 16px;
  padding: 15px;
}

.timeline-item {
  padding: 10px 0;

  &.timeline-item-table {
  
    .item-table {
     
        table {
          th , td {
            font-size: 12px;
            line-height: 16px;
            padding: 5px;
          }
        }
    }
  }
}
}

@media only screen and (min-width: 1170px) {
#timeline {
//   margin-top: 3em;
//   margin-bottom: 3em;

  &::before {
    left: 50%;
    margin-left: -2px;
  }
}
}

@media only screen and (min-width: 1170px) {
.timeline-block {
  margin:100px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
}

@media only screen and (min-width: 1170px) {
.timeline-year {
  width: 24px;
  height: 24px;
  left: 50%;
  margin-left: -12px;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
}

@media only screen and (min-width: 1170px) {
.timeline-content {
  margin-left: 0;
  width: 45%;

  &::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ebebeb;
  }
}

.timeline-block:nth-child(even) .timeline-content {
  float: right;

  &::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ebebeb;
  }
}

}

.final-circle {
    background-color: #fecd2c;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin-left: -15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 0 5px #e6bb2e;
    position: relative;
    cursor: pointer;
    top: 40px !important;

    .final-circle-text {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.64px;

    }
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    animation: finalRipple 1.5s linear infinite;
    transition: all 0.7s ease;


    &:hover
    {
    transform: scale(1.1);
    }
    &:focus
    {
        outline:none;
    }

    @keyframes finalRipple {
        0% {
          box-shadow: 0 0 0 0 rgba(#fff, 0.3),
            0 0 0 1px rgba(#fff, 0.3),
            0 0 0 3px rgba(#fff, 0.3),
            0 0 0 5px rgba(#fff, 0.3);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(#fff, 0.3),
            0 0 0 4px rgba(#fff, 0.3),
            0 0 0 20px rgba(#fff, 0),
            0 0 0 30px rgba(#fff, 0);
        }
    }

}

.contact-wrap {
  width: 100%;
  background-color: rgba(255,255,255,0.92);
  border-radius: 20px;
  padding: 25px 15px ;
  box-shadow: 4px 4px 20px 0 rgba(63, 63, 63, 0.15);

    .contact-outline  {
      display: flex;  
      // align-items: center;
      align-items: stretch;
      flex-wrap: wrap;


      .contact-content {
        flex: auto 1;
        text-align: left;
        position: relative;
        padding-left: 25px;

        .form-group {
          &:last-child {
            margin-bottom: 0;
          }
        }

        &:first-child {
          padding-bottom: 20px;
        }

        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 5px;
          top: 0;
          bottom: 0;
          background-color: #d7d7d7;
          border-radius: 10px;
          left: 0;
        }

        .contact-content-title {
          margin: 0;
          height: 100%;
          font-size: 35px;
          line-height: 1.18;
          letter-spacing: -0.4px;
          // font-weight: 800;
        }
      }
    }

  .contact-label {
    display: block;
    width: 100%;
    font-size: 14px;

  }

  input[type="text"] {
    height: 45px;

    &::placeholder {
      color: #d7d7d7;
      font-size: 14px;
    }
  }

  .contact-mail-content {
    width: 100%;
    border-color: #ced4da;
    resize: none;
    border-radius: 4px;
    padding: 8px;
    min-height: 150px;

    &:focus, &:active {
      outline: none;
    }

    &::placeholder {
      color: #d7d7d7;
      font-size: 14px;
    }
  }


  .submit-btn {
    width: 100%;
    display: block;
    border-radius: 4px;
    background-color:#fecd2c;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
  }
}
   
.go-gitsite {
  color: #141414;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;

  &:focus, &:active, &:hover {
    color: #141414;
  }
}


@media (min-width:992px) {
    .theme-main {
        padding-top: 65px;

        .content-layout {
            .layout-bg {
              padding: 80px 0;

                &.layout-01 {
                    max-height: none;
                }

            }
        }

        .slide-arrows {
            display: block;
        }

        .content-layout {
            .layout-bg {
                &.layout-03  {
                    padding: 80px 0;
                }
            }
        }

        .timeline-block {
            display: block;
        }

        .content-list-wrap {
          .content-list {
            flex-wrap: nowrap;

            .content-list-item {
              width: auto;
              flex: 1;

              .content-explan-title {
                font-size: 25px;
                margin-bottom: 7px;

              }

              .content-explan-item {
                font-size: 16px;
              }
            }
          }
        }

        .layout-content-title {
          font-size: 45px;
          font-weight: 800;
          margin-bottom: 60px;
        }
    }

    .final-circle {
        width: 90px;
        height: 90px;
        margin-left: -45px !important;

        .final-circle-text {
            font-size: 17px;
        }
    }


    .contact-wrap {
      .contact-outline {
        .contact-content {
          &:first-child {
            padding-bottom: 0; 
          }
        }
      }
    }
}

